
body{
	background-color: #E6E7E8;
	font-family: 'Lato', sans-serif;
}
.grisf{
background-color: #E6E7E8;
}

.espaciogris{
color: #626366;
}


.fondo1{
background-color: #E6E7E8;
height: 700px;
}

.quehacemos{
font-weight:700;
font-size:23px;
color:#6AC8C9;
margin-top:2px;
font-style:italic;
 font-family:'Lato','latobold_italic',serif;
}
.marcasimg{
height:50px;
}
.gris{
background-color: #626366;
height: 145px;
}

.logo{
margin-top: 35px;

}

.log{
margin:0.5em 0;
}

#logg{
text-decoration:none;
}
.line{
border:none;
display: block;
background: transparent;
border-bottom: 1px solid grey;
padding: 5px 2px 0 2p;
margin-top:10px;


}
.oculto {display:none}

.line:focus { 
  outline: none;
  border-color: #51CBEE;
}



.cargo{
margin-left:-30px;
width:422px;
}

.empresa{
margin-left:-12px;
width:405px;
}

.emaill{
margin-left:-25px;
width:418px;
}

.nya{
margin-left:-20px;
width:332px;
}

.login{
margin-top:10px;
margin-left:-1px;
}

.lineerror{
border:none;
display: block;
background: transparent;
border-bottom: 2px solid red;
padding: 5px 2px 0 2p;
}


.lineerror:focus { 
  outline: none;
  border-color: #51CBEE;
}
.login{
margin-top:10px;

}
.division{
background-color: #A8A8A8;
height:3px;
margin-top:10px;
position:relative;
width:100px;
}
.login2{
margin-top:5px;
margin-left:20px;

}
.afi{
margin-left:13px;
}

.idiomas{
	margin-top: 12px;
	margin-left:13px;
}
.es{
margin-left: 60px;
}

.en{
margin-left: 5px;

}

.pt{
margin-left: 5px;

}

.violeta{
height: 10px;
background-color: #590A3B;
margin-top: -30px;
}

.violeta2{
height: 10px;
background-color: #590A3B;
}

.blanco{
height: 10px;
background-color: white;
}

.amarillo{
height: 20px;
background-color: #FBEA60;

}

.amarillo1{
height: 7px;
background-color: #FBEA60;

}

.espacioam{
color: #FBEA60;
}

#menu a{

display: block;

text-decoration: none;
margin-top: 12px;
}

.espacio2{
	color:#FBEA60;
}

.contenido{
background-color: white;
}

.contenido1{
background-color: white;
margin-top:-20px;
}


#footer{
background-color: #626366;
height: 25px;
}

.copyright{
color: white;
margin-top: 4px;	

}
.confian{
	font-size: 13px;
	font-weight: bold;
}

.olvideclave{
text-decoration: none;
color: #626366;
font-size: 12px;
font-weight: lighter;
margin-top: -5px;
margin-left: 15px;
width:105px;
}

.user{
	margin-left:10px; 
}

.blog{
margin-left: 23px;
}

.home{
	margin-left: 9px;
}
.ayuda{
	margin-left: 27px;

}

.anunciante{
	margin-left: 30px;
}

.afiliado{
	margin-left: 25px;
}

.contacto{
	margin-left: 40px;
}

.marcas{

	border-top: 1px solid;
	color: #590A3B;
	padding-left: 40px;

}


.marcas2{
	height: 108px;
	border-top: 1px solid;
	color: #590A3B;



}
.mar{
	font-weight: bold;
	font-size: 13px;
	text-align: center;

}
.mar2{
	margin-top: -10px;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color: #58585B;
	margin-left: -40px;
	margin-right: -30px;
}

.banneranunciante{

height:135px;}

.textoanunciante{
	font-weight:bold;
	font-size: 12px;

}

.part1{
margin-left:15px;}

.part1b{
margin-left:23px;}

.part2{
margin-top:-40px;}

.parte2{
margin-left:-5px;}

.parte3{
margin-left:-17px;}

.parte3b{
margin-left:-10px;}

.partec{
margin-left:-12px;}

.part13{
margin-left:30px;}

.com{
margin-left:8px;}

.ml{
margin-left:-30px;}

.nubec{
margin-top:-280px;
margin-left:10px;
}


.nubecamp{
position:relative;
margin-left:10px;
}

.tan{
margin-top:-20px;
font-size:15px;

}

.quierohome{
margin-top:20px;}
.tan1{
margin-top: 30px;
font-size:15px;
font-weight:regular;}

.regg{
margin-top:30px;
margin-left:20px;
}

.descanun{
margin-top:-30px;}

.banner1{
margin-top: 15px;
}

.porque{
	font-weight: bold;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 20px;
}

.merc1d{
	margin-top: 5px;
	font-size: 14px;
}
.merc1i{
	height: 50px;
	width: 50px;
}

.merc2i{
	height: 50px;
	width: 50px;
	margin-top: 10px;
}

.espacio{
	color: white;
}

.registratem{
	margin-left:15px;

}


.registrartem{
text-decoration: none;
color: #69C8C9;
font-size: 12px;
font-weight: bold;
margin-top: 15px;
margin-left:45px;
}

.textocontacto{
	 font-family:'Lato','latoblack',serif;
 font-weight:700;
	font-size: 13px;
}

.anunlog1{

}
.textocontacto1{
font-size:15px;
font-weight:bold;
color:#626366;
}
.lineados{
	margin-top: -20px;
}

.numnube{
font-weight:bold;
font-style:italic;
 font-family:'Lato','latobold_italic',serif;
font-size:56px;
color: #69C8C9;
}

.nn{
margin-top:-20px;
}

.arg{
margin-left:10px;
}

.trabaje{
margin-left:24px;}

.contactodatos{
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 15px;
	color:#626366;
}
.contactodatos1{
	 font-family:'Lato','latoblack',serif;
 font-weight:700;
	font-size: 14px;
	color:#626366;
}
.contactoerror{
	 font-family:'Lato','latoblack',serif;
 font-weight:700;
	font-size: 14px;
}

.nombreyap{
	margin-top: 10px;
}

.radio{
	margin-top: 15px;
	margin-left: -35px;
}
.radio2{
	margin-top: 12px;
	margin-left: -60px;
}
.radioafiliado{
	margin-left: -40px;
	margin-top:15px;
}
.radioafiliado2{
	margin-left: -15px;
	margin-top:10px;
}
.regaf1{
margin-left: -10px;
}
.enviar{
	margin-left: 20px;
	height: 30px;
	width: 80px;
}

.contactoseparador{

		height: 360px;
		border-top:1px solid;
		border-bottom: 1px solid;
		border-color: #590A3B;
		padding-bottom:30px;
}

.tituloscontacto{
	color:#590A3B;
	
 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 15px;
}

.contactoarg{
	margin-top: -20px;
	margin-left: -20px;
}

.contactoarg1{
	margin-top: -20px;
	margin-left: -14px;
}

.mex{
	margin-left: 1px;
}
.fondo{
	height: 15px;
	color:#E6E7E8;
}



.blog2{
margin-top: 15px;
background: url("http://static.pampanetwork.com/images/background.png");
background-repeat: no-repeat;
height: 792px;
margin-left:-20px;

}

.oops{
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 66px;
	color:#590A3B;
}

.oopsb{

	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 66px;
	color:#590A3B;

}
.oops2{
	font-family: lato black;
	font-size: 22px;
	color:#590A3B;
	margin-top: -80px;

}

.errorblog{
	margin-top: 100px;
}
.blog1{
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 22px;
	color:#590A3B;
	

}

.blog1b{
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 22px;
	color:#590A3B;


}

.volverhome{
margin-top:80px;
}

.hometexto{
font-size: 16px;
font-weight:700;
font-style:italic;
 font-family:'Lato','latobold_italic',serif;

}

.hometexto3{
font-size: 14px;
font-weight:700;
font-style:italic;
 font-family:'Lato','latobold_italic',serif;
}

.imganun{
margin-top:30px;
}

.texhome1{
	margin-left: 10px;
	margin-top: -20px;
}

.texhome2{
	
	margin-top: -20px;
}

.texthome2{
	margin-left: 30px;
	margin-top: -20px;
}

.home1{
	margin-left:18px;
}


.textohome{
	font-size: 14px;
	font-weight: bold;
}

.textohome3{
	margin-top: -20px;
	margin-left: 18px;
}

.textohome4{
	margin-top: -20px;
	margin-left: 3px;
}

.textohome5{
	margin-top: -20px;
	margin-left: -3px;
}

.textohome6{
	margin-top: -20px;
	margin-left: -9px;
}

.textohome7{
	margin-top: -20px;
	margin-left: 9px;
}

.textohome8{
	margin-top: -62px;
}

.botonafhome{
margin-left: 21px;

}

.mashome{
text-decoration: none;
color: #69C8C9;
font-size: 14px;
font-weight: bold;
margin-top: 2px;
margin-left: 20px;
}

.mashomeb{
text-decoration: none;
color: #69C8C9;
font-size: 14px;
font-weight: bold;
margin-top: 2px;
}
.mashomer{
margin-top: 25px;

}
.mashome2{
	margin-left: 62px;
}
.logors{
	width: 47px;
	height: 47px;
}

.faqtitulo{
	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
	border-bottom: 1px solid;
	border-color: #590A3B;
	padding-bottom: 10px;
	width: 200px;
}

.pregseleccionada{
	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
	background: url("http://static.pampanetwork.com/images/faqs.png");
	height:25px;
	background-repeat: no-repeat;
	width: 200px;
	margin-top: -10px;
	padding-top: 8px;
}

.pregtecnoselec{
	margin-top: -25px;
	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
}

.pregtec{
	margin-top: -25px;
	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
}

.pregnoselec{
	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
}

.preguntas{
	margin-top: -479px;
	margin-left: 230px;
}

.ayudareg{
		font-size: 13px;
	color: color: #69C8C9;
	font-weight: bold;
}

.pregunta{
	color: #590A3B;
	font-weight: bold;
	font-size: 14px;
	margin-top: -20px;
}

.respuesta{
	margin-top: -20px;
	font-size: 13px;
}

.pregunta1{
	color: #590A3B;
	font-weight: bold;
	font-size: 13px;
margin-top: 20px;}

.quedandudas{
		font-size: 13px;
	font-weight: bold;
	margin-bottom: -15px;
	margin-left: 26px;
	margin-top: 95px;
}
.contblanco{
margin-top:-33px;
}
.contactanosb{
	margin-left: -260px;
	margin-top: 120px;
}

.col2{
	margin-left: 25px;
}

.clientesaf{
	margin-left: -45px;
}

.clientesaf2{
	margin-top: 15px;
}

.ra1{
	font-size: 13px;
	font-family: lato black;
	color:#69C8C9;
	
}

.ra2{
font-size: 13px;
color: #69C8C9;
margin-top: -20px;
}

.ra3{
	color: #590A3B;
	text-decoration: none;
}
.siguiente{
	margin-top: -40px;
	margin-left: -5px;
}

.formafiliado1{
	margin-left: -10px;
}

.link{
text-decoration: none;
color: #69C8C9;
font-size: 12px;
font-weight: bold;

}

.submenuayuda{
	font-weight: bold;
	font-size: 13px;
	color: #404041;
	text-decoration: none;	
	margin-top:-10px;
	cursor: hand;
}
.dudas{
margin-top:-1px;}

.dudas1{
margin-top:-70px;}

.a_demo_three {
	background-color:#69c8c9;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	border-left:solid 1px #69c8c9;
	margin-left:35px;
	background-image: linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -o-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -moz-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -webkit-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -ms-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #69c8c9),
	color-stop(1, #69c8c9)
	);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	-webkit-box-shadow: inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #478e8c, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #478e8c, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #478e8c, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #478e8c, 0px 10px 5px #999;
}

.a_demo_three:active {
	top:3px;
	background-image: linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -o-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -moz-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -webkit-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -ms-linear-gradient(bottom, #69c8c9 0%, #69c8c9 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #69c8c9),
	color-stop(1, #69c8c9)
	);
	-webkit-box-shadow: inset 0px 1px 0px #478e8c, 0px 2px 0px 0px #478e8c, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #478e8c, 0px 2px 0px 0px #478e8c, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #478e8c, 0px 2px 0px 0px #478e8c, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #478e8c, 0px 2px 0px 0px #478e8c, 0px 5px 3px #999;
}


.a_demo_three:active::before {
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #478e8c, 2px 2px 0px 0px #478e8c, 2px 5px 0px 0px #478e8c, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #478e8c, 2px 2px 0px 0px #478e8c, 2px 5px 0px 0px #478e8c, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #478e8c, 2px 2px 0px 0px #478e8c, 2px 5px 0px 0px #478e8c, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #478e8c, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #478e8c, 2px 2px 0px 0px #478e8c, 2px 5px 0px 0px #478e8c, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}

/*
Second button
*/

.second_button::before {
	content:"2";
}

/*
Third button
*/

.third_button::before {
	content:"3";
}

#preg{text-decoration:none;
	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
	margin-top:-30px;}
#preg:visited {text-decoration:none;}
#preg:hover {background: url("http://static.pampanetwork.com/images/faqs.png");}
#preg:active {	font-weight: bold;
	font-size: 13px;
	color: color: #69C8C9;
	background: url("http://static.pampanetwork.com/js/images/faqs.png");
	height:25px;
	background-repeat: no-repeat;
	width: 200px;
	
	padding-top: 8px;}
	
.ayuda1{
height:950px;}

.ayuda2{
margin-top:-7px;
}

.regan1{
margin-left:-800px;
margin-top:-380px;
height:28px;}

.regan2{
margin-left:-800px;
margin-top:-375px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.pgan1{
margin-left:-800px;
margin-top:-407px;
height:28px;}

.pgan2{
margin-left:-800px;
margin-top:-402px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}
.campan1{
margin-left:-800px;
margin-top:-353px;
height:28px;}

.campan2{
margin-left:-800px;
margin-top:-350px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}
.crean1{
margin-left:-800px;
margin-top:-326px;
height:28px;}

.crean2{
margin-left:-800px;
margin-top:-320px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}
.pagan1{
margin-left:-800px;
margin-top:-299px;
height:28px;}

.pagan2{
margin-left:-800px;
margin-top:-295px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.tecan1{
margin-left:-800px;
margin-top:-272px;
height:28px;}

.tecan2{
margin-left:-800px;
margin-top:-267px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.pgaf1{margin-left:-800px;
margin-top:-160px;
height:28px;}

.pgaf2{
margin-left:-800px;
margin-top:-155px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.regaf1{margin-left:-800px;
margin-top:-130px;
height:28px;}

.regaf2{
margin-left:-800px;
margin-top:-125px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.campaf1{margin-left:-800px;
margin-top:-107px;
height:28px;}

.campaf2{
margin-left:-800px;
margin-top:-100px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.pagaf1{margin-left:-800px;
margin-top:-77px;
height:28px;}

.pagaf2{
margin-left:-800px;
margin-top:-72px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.ctaf1{margin-left:-800px;
margin-top:-52px;
height:28px;}

.ctaf2{
margin-left:-800px;
margin-top:-47px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.opaf1{margin-left:-800px;
margin-top:-27px;
height:28px;}

.opaf2{
margin-left:-800px;
margin-top:-22px;
font-weight: bold;
font-size: 13px;
color: color: #69C8C9;
cursor:pointer;
}

.anboton{

}

#botonb{
	text-decoration: none;
	color: white;
	background-color: #69C8C9;
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top:3px;
	margin-left: 18px;
}

#botonb hover{
	color: white;
}

#botona{
	text-decoration: none;
	color: white;
	background-color: #69C8C9;
	font-weight: bold;
	padding-left: 10px;
	font-size: 14px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-top:6px;
	margin-left: 18px;

}

#botona hover{
	color: white;
}

#botoncon{
	text-decoration: none;
	color: white;
	background-color: #69C8C9;
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-top:6px;


}

#botoncon hover{
	color: white;
}

.nub{
margin-top:-50px;
}


#navegador {  }
#navegador li { margin-right:15px;
           width: 12%;
           list-style-type: none; position: relative; float:right; }
#subseccion1
             { position: absolute; top: 100%; left: 0px;  
             background-color:rgba(251,234,96,0.80); font-size:12px;  
             font-weight:bold; display: none; 
			 margin-top:-3px;
			 margin-left:-22px;
			 width:120px;
			 height:80px;
	
-moz-border-radius:5px; /* Firefox */ 
-webkit-border-bottom-left-radius:15px;
			 }		

#subseccion1 a{
margin-left:5px;
margin-top:15px;

}	

.contacto3{


}

.margenmenu{
margin-left:-105px;
}

#subseccion1 .subcon {
margin-left:65px;
}



#subseccion1 .subtrabaje {

}			 

#navegador li a:link, #navegador li a:visited { 
           color: black; text-decoration: none; }
#navegador li a:hover, #navegador li a:active { 
           text-decoration: none ; border-bottom:3px solid #590A3B;
		   padding-bottom:3px;

		   }
.borrar { clear: both; }	

		   
		   .contacto2{
		   margin-top:-10px;}
		   
		   .subsecc{
		   margin-left:-35px;
		   margin-top:15px;}
		   


.marks{
margin-top:-50px;

margin-left:20px;

}
.linio{
height:40px;
}

.viol2{
margin-top:-20px;
}


.centrado{
	text-align:center;
	line-height:200%;

}
.centrado1{
	text-align:center;
	line-height:100%;

}

.derecha{
	text-align:right;
	line-height:100%;

}

.derechamenu{
	text-align:right;
	
	
}

.menuestilo{
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 15px;
	text-decoration:none;
	color:black;

	
}

#men a:hover{
border-bottom: 7px solid #590A3B;
}


#men .activo{
border-bottom: 7px solid #590A3B;
}

.marginmenu{
margin-left:13px;

}
.anungratis{
margin-left:-20px;
}

.anunalcance{
margin-left:5px;
}

#botonlog{
	text-decoration: none;
	color: white;
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 12px;



}
#botonloga{
	text-decoration: none;
	color: white;
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 12px;
border-bottom:2px solid ;
margin-left:8px;

}
#botonlogaf{
	text-decoration: none;
	color: white;
	 font-family:'Lato','latoblack',serif;
 font-weight:900;
	font-size: 12px;



}

#botonlog a:hover{
color:red;
}


#linklog{

}

.loglink {
margin-top:-10px;
position:absolute;
margin-left:5px;
}

.loglink2{
margin-top:-30px;


}
.afil{
margin-top:-57px;
margin-left:10px;

}

.afilog{
margin-top:-60px;
margin-left:30px;
}
